@import '@/styles/_mixins.scss';

.footer {
    background: linear-gradient(96.1deg, #00319C 1.25%, #0300AD 99.4%);
    color: white;
    position: relative;
    z-index: 1;
    &-triangle {
        background: white;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0%;
        z-index: 19;
        right: 0;
        transform: translate(0%, -50%);
        padding: 0;

        p {
            margin: 0;
            text-align: center;
            color: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding-bottom: 2%;
            background: white;
            clip-path: polygon(0% -1%, 100% -3%, 0% 100%);
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        overflow: hidden;
        @include mobile(){
            top: initial;
            bottom: 0;
        }
        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
    }
    ul {
        list-style-type: none;
        display: block;
        text-align: right;
        @media screen and (max-width:766px) {
            text-align: left;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
            margin-left: 32px;
            @media screen and (max-width:766px) {
                margin-left: 16px;
            }
            &:first-child {
                @media screen and (max-width:766px) {
                    margin-left: 0px;
                }   
            }
            span {
                transition: .2s;
                &:hover {
                    opacity: .3 !important;
                    cursor: pointer;
                }
            }
            a {
                transition: .2s;
                &:hover {
                    color: #999;
                }
            }
        }
    }
    &-bottom {
        border-top: 1px solid white;
        padding-top: 32px;
        @media screen and (max-width:766px) {
            padding-top: 16px;
        }
        ul {
            margin: 0;
        }
        div {
            @media screen and (max-width:766px) {
                float: initial;
                margin-bottom: 8px;
            }
        }
    }
}

.content {
    padding: 52px 0 32px;
}

.pad {
    padding-top: 52px !important;
    @media screen and (max-width:766px) {
        padding-top: 0 !important;
    }
}

.w100 {
    @media screen and (max-width:766px) {
        width: 100% !important;       
    }
}

.active {
    a {
        font-weight: bold;
    }
}