@import "@/styles/_mixins";
.detail-news {
    padding: 72px 0;
    margin: 0 auto;
    display: block;
    .title {
        text-align: center;
        color: rgb(3, 3, 161);
    }
    .date {
        text-align: center;
        margin: 0 auto 16px;
        font-size: 14px;
        display: block;
        font-weight: 700;
    }
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.content {
    height: 480px;
    margin-bottom: 16px;
    width: auto;
    position: relative;
    z-index: 2;
    border-radius: 16px;
    img {
        width: 100%;
        border-radius: 16px;
        height: 100%;
        object-fit: contain;
        @include mobile() {
            object-fit: cover;
        }
        
    }
    &__desc {
        margin-top: 48px;
    }
    &__help {
        // background: linear-gradient(to top, rgb(9, 0, 136) -30%, transparent);
        position: absolute;
        inset: 0;
        border-radius: 16px;
        z-index: 3;
    }
    &__tag {
        // position: absolute;
        max-width: fit-content;
        margin: 0 auto 16px;
        text-align: center;
        // display: block;
        top: 0px;
        left: 16px;
        z-index: 5;
        font-size: 16px;
        background: rgba($color: white, $alpha: 1);
        padding: 4px 16px;
        border-radius: 24px;
        box-shadow: 0 3px 6px #bbb;
        color: black;
    }
}