@import "@/styles/_mixins";

.button {
    margin-top: 36px;
    color: white !important;
    border-color: white !important;
    cursor: pointer;
    transition: 0.3s;
    padding: 30px 0px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: transparent;
    &:hover {
        background: white;
        color: #203faf !important;
    }
}

.herro-top {
    padding-top: 154px;
}

.href {
    position: relative;
    z-index: 999;
    &:hover {
        .button {
            background: white !important;
            color: #203faf !important;
        }
    }
}

.card-hero {
    cursor: pointer;
    display: flex;
    // width: 352px;
    height: 160px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px 20px;
    margin: 16px 4px;
    transition: 0.3s;
    @include mobile {
        width: 100%;
    }
    img {
        height: 79px;
        width: 79px;
        margin-right: 15px;
    }

    &__wrap-text {
        text-align: left;
        @include mobile() {
            display: none;
        }
    }
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }
}

.slider-nav-2 {
    position: absolute;
    top: 60%;
    
    @include wide_screen(){
        left: 10%;
    }
    @include mobile(){
        // top: 116%;
        display: none;
    }

}

.big {
    height: 850px;
    @include mobile () {
        height: 70vh;
    }
}