@import "@/styles/_mixins.scss";

.tags {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 9;
    &-primary {
        background-color: #00a3ff !important;
        @include mobile(){
            font-size: 14px;
        }
    }
    &-secondary {
        background-color: #004cf2 !important;
        @include mobile(){
            font-size: 14px;
        }
    }

}
