$height-card: 280px;
$width-card: 100%;
$border-radius: 10px;

.card-loading {
    height: $height-card;
    width: $width-card;
    border-radius: $border-radius;
    margin-bottom: 16px;
}

.card {
    &-new {
        height: $height-card;
        width: $width-card;
        border-radius: $border-radius;
        margin-bottom: 16px;
        cursor: pointer;
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 9;
        &:hover {
            .card-img {
                transform: scale(1.2);
            }
        }
    }
    &-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 280px;
        transition: 0.3s;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
.bg {
    &-opacity {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(1, 0, 49, 0.7) 73.61%);
        position: absolute;
        z-index: 3;
        inset: 0;
        border-radius: 10px;
    }
}

.tags {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 9;
    &-primary {
        background-color: #00a3ff !important;
    }
    &-secondary {
        background-color: #004cf2 !important;
    }
}

.content {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    z-index: 9;
    &__desc {
        color: white;
        font-weight: initial;
        line-height: initial;
        padding: 0;
        margin: 0 0 16px;
    }
    &__title {
        margin: 0;
        padding: 0;
    }
}
