.herro-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
    &__wrap {
        height: 830px;
        &__left {
            margin-top: 100px;
            img {
                margin-top: 55px;
                width: 400px;
            }
        }

        &__img-right {
            right: 0;
            height: 700px;
            margin-top: -40px;
            position: absolute;
            z-index: 9999;
            width: 50%;
            // overflow: hidden;
            transition: .3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.btn-arrows {
    text-align: center;
    margin-top: 200px;
    position: absolute;
    top: -10%;
    left: 30%;

    &__icon {
        font-size: 53px;
    }
}
