.wrap {
    min-height: 70vh;
    // background: rgba($color: #2338d8, $alpha: .5);
    margin: 0;
    position: relative;
    z-index: 5;
    text-align: center;
    overflow: hidden auto;
    background: url('../../../assets/images/PS5.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
// .bg-help {
//     transform-style: preserve-3d;
//     height: 100%;
//     position: relative;
//     z-index: 3;
//     &::after {
//         inset: 0;
//         background: url('../../../assets/images/PS5.jpg');
//         content: '';
//         display: block;
//         position: absolute;
//         transform: translateZ(-1px) scale(200%);
//     }
// }

.bg-help {
    position: absolute;
    inset: 0;
    z-index: 6;
    background: rgba($color: #0a12f5, $alpha: .8);
}

.padd {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0%,50%);
}