#header {
    text-align: center;
}

.menu {
    background: rgba(3, 0, 173,.7) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 60px;
    backdrop-filter: blur(8px);
    // filter: blur(8px);
    &__logo {
        padding: 8px 0;
        cursor: pointer;
        transition: .3s;
        &:hover {
            opacity: .6;
        }
    }
    ul {
        list-style-type: none;
        display: block;
        @media screen and (max-width:766px) {
            display: none;
        }
        li {
            display: inline-block;
            margin-left: 16px;
            &:hover {
                a {
                    color: silver;
                }
            }
            a {
                color: white;
                transition: .2s;
            }
            &.active {
                a {
                    font-weight: bold;
                    border-bottom: 1px solid;
                }
            }
        }
    }
    .bar {
        width: 30px;
        margin-top: 16px;
        display: none;
        @media screen and (max-width:766px) {
            display: block;
        }
        &-bar {
            width: 100%;
            height: 4px;
            background-color: white;
            margin-bottom: 4px;
        }
    }
    &__mobile {
        padding: 16px 0;
        position: relative;
        height: 90vh;
        ul {
            list-style-type: none;
            padding: 0 16px;
            margin: 0;
            li {
                margin-bottom: 8px;
                a {
                    font-size: 1.5rem;
                }
                &.active {
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
        .bottom {
            position: absolute;
            bottom: 0;
            left: 16px;
        }
    }
}