.knowus {
    &__img {
        height: 280px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        transition: .3s;
        border-radius: 10px;
        img {
            width: 100%;
            transition: .3s;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.bg {
    &-help {
        position: absolute;
        inset: 0;
        opacity: .8;
        background: linear-gradient(110deg, #0075FF, #0500F2 );
        z-index: 3;
        border-radius: 10px;
        transition: .3s;
    }
}

.content {
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 5;
    @media screen and (max-width: 766px) {
        bottom: 8px;
        left: 16px;
    }
}

.wrap {
    position: relative;
    z-index: 9;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    &:hover {
        .knowus__img {
            img {
                transform: scale(1.3);
                border-radius: 10px;
            }
        }
        .bg-help {
            opacity: .5;
        }
    }
}

.pt16 {
    padding-top: 16px;
    @media screen and (max-width:766px) {
        padding-top: 0;
    }
}