@import "@/styles/_mixins";

.our-value {
    margin-bottom: 50px;

    &__title {
        text-align: center;
        margin-bottom: 40px !important;
    }

    &__wrap {
        
        @include min_tablet() {
            height: 500px;
        }

        // background-color: blue;
        background: url('https://images.justwatch.com/backdrop/8603839/s1440/naruto-shippuden');
        position: relative;
        z-index: 2;
        @include mobile() {
            background-size: cover;
        }
        &-item {
            text-align: center;
            color: white;
            display: flex;
            position: relative;
            z-index: 10;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            border-right: 2px solid white;
            
            @include mobile() {
                border-bottom: 2px solid white;
                border-right: none;
                padding-bottom: 50px;
            }
        }
        &::after {
        }
    }
}

.help {
    background: rgba(blue,.8);
    position: absolute;
    inset: 0;
    z-index: 7;

}