@import "@/styles/_mixins";

.about-description {
    margin-top: 50px;
    margin-bottom: 50px;

    @include mobile() {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__desc{
        text-align: justify;
    }
}
