@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Russo+One&display=swap");
@import "@/styles/_mixins";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.color {
    &-white {
        color: white;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    line-height: normal;
    margin: 8px 0;
    margin-bottom: 8px !important;
    padding: 0;
}

.clearfix {
    clear: both;
}

.float {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}
.pointer {
    cursor: pointer;
}
.font {
    &-bold {
        font-family: "Russo One";
    }
    &-general {
        font-family: "Poppins";
    }
}

.to {
    &-top {
        position: relative;
        z-index: 11;
    }
}

.position {
    &-relative {
        position: relative;
    }
}

// .slick-dots{
//     top: 60%;

//     @include mobile() {
//         display: flex !important;
//         overflow-x: scroll;
//     }

//     li {
//         width: auto !important;
//         height: 160px !important;
//         margin-bottom: 10px !important;
//     }
// }
.slick-current {
    .card-hero-active{
        background-color: #001843 !important;
        border-radius: 10px;
    }
}

.mr-2 {
    margin-right: 4px;
}

.v {
    &-super {
        vertical-align: super;
    }
}